/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */

@mixin transitionDuration ($duration) {
  transition-duration: $duration;
  -webkit-transition-duration: $duration;

}
@mixin easingTimingFunction () {
  -webkit-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -ms-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940);
  /* easeOutQuad */

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -ms-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  /* easeOutQuad */

}
@mixin transform ($value) {
  transform: $value;
  -ms-transform: $value;
  -webkit-transform: $value;

}
/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */

@mixin slide-down {
  @include easingTimingFunction();

  &.ng-enter {
    @include transform(translateY(-160px));
    @include transitionDuration(250ms);
    opacity: 0;

  }
  &.ng-enter-active {
    @include transform(translateY(0));
    opacity: 1;

  }
  &.ng-leave {
    @include transform(translateY(0));
    @include transitionDuration(250ms);
    opacity: 1;

  }
  &.ng-leave-active {
    @include transform(translateY(-160px));
    opacity: 0;

  }
  // Hide
  &.ng-hide-add {
    @include transform(translateY(0));
    @include transitionDuration(250ms);
    opacity: 1;
  }
  &.ng-hide-add.ng-hide-add-active {
    @include transform(translateY(-160px));
    opacity: 0;

  }
  // Show
  &.ng-hide-remove {
    @include transform(translateY(-160px));
    @include transitionDuration(250ms);
    display: block!important;
    opacity: 0;
  }
  &.ng-hide-remove.ng-hide-remove-active {
    @include transform(translateY(0));
    opacity: 1;
  }

}
/* ------------------------------------------- */
/* Scale Fade
/* ------------------------------------------- */

@mixin scale-fade {
  @include easingTimingFunction();

  &.ng-enter {
    @include transform(scale(0.7));
    @include transitionDuration(250ms);
    opacity: 0;
  }
  &.ng-enter-active {
    @include transform(scale(1));
    opacity: 1;

  }
  &.ng-leave {
    @include transform(scale(1));
    @include transitionDuration(250ms);
    opacity: 1;

  }
  &.ng-leave-active {
    @include transform(scale(0.7));
    opacity: 0;

  }
  // Hide
  &.ng-hide-add {
    @include transform(scale(1));
    @include transitionDuration(250ms);
    opacity: 1;
  }
  &.ng-hide-add.ng-hide-add-active {
    @include transform(scale(0.7));
    opacity: 0;

  }
  // Show
  &.ng-hide-remove {
    @include transform(scale(0.7));
    @include transitionDuration(250ms);
    display: block!important;
    opacity: 0;
  }
  &.ng-hide-remove.ng-hide-remove-active {
    @include transform(scale(1));
    opacity: 1;
  }

}

$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';
// ********************
// fadeIn
// ********************
@mixin keyframe-fadeIn {
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-webkit-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-o-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-ms-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@keyframes fadeIn {
  @include keyframe-fadeIn;
}
@mixin fadeIn( $arg ) {
  $keyframe-name:fadeIn;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration;
  }
}

@mixin keyframe-fadeOut {
  0%   { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  @include keyframe-fadeOut;
}
@-webkit-keyframes fadeOut {
  @include keyframe-fadeOut;
}
@-o-keyframes fadeOut {
  @include keyframe-fadeOut;
}
@-ms-keyframes fadeOut {
  @include keyframe-fadeOut;
}
@keyframes fadeOut {
  @include keyframe-fadeOut;
}
@mixin fadeOut( $arg ) {
  $keyframe-name:fadeOut;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration;
  }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}


.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

/* .page-work.ng-enter           { animation: slideInRight 0.5s both ease-in; z-index: 8888; }
.page-work.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }
 */

[ui-view].page-work.ng-leave {
	//@include slide-down();
	@include fadeOut(500ms);

/* 	section.top img {
	@include fadeIn(2s);
} */
}
[ui-view].page-work.ng-enter {
	//@include slide-down();
	@include fadeIn(500ms);

section.top img {
	@include slide-down();
}
}




.page-about[ui-view] {
  @include slide-down();

}
/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.page-about[ui-view] {
  height: 65px;

}
.ui-view-container {
  position: relative;

}
.animate-enter {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all;
  opacity: 0;

}
.animate-enter.animate-enter-active {
  opacity: 1;

}
.about.enter-setup {
  position: absolute;
  -webkit-transition: 0.5s ease-out all;
  -webkit-transform: translate3d(100%,0,0);

}
.about.enter-setup.enter-start {
  position: absolute;
  -webkit-transform: translate3d(0,0,0);

}
.about.leave-setup {
  position: absolute;
  -webkit-transition: 0.5s ease-out all;
  -webkit-transform: translate3d(0,0,0);

}
.about.leave-setup.leave-start {
  position: absolute;
  -webkit-transform: translate3d(100%,0,0);

}
.container.enter-setup {
  position: absolute;
  -webkit-transition: 0.5s ease-out all;
  -webkit-transform: translate3d(-100%,0,0);
}
.container.enter-setup.enter-start {
  position: absolute;
  -webkit-transform: translate3d(0,0,0);

}
.container.leave-setup {
  position: absolute;
  -webkit-transition: 0.5s ease-out all;
  -webkit-transform: translate3d(0,0,0);

}
.container.leave-setup.leave-start {
  position: absolute;
  -webkit-transform: translate3d(-100%,0,0);
}
