// NAV
nav {
  text-align: center;
  background: $wt;
  width: 100%;
  display: block;
  height: 114px;
  padding: 20px 0;
  z-index: 1;
  a {
    background-repeat: no-repeat;
    @include center-block;
    height: auto;
    max-width: 300px;
    border: 1px solid dark(.1);
    padding: 10px;
    border-radius: 4px;
    height: 46px;

    &:hover {
      background-image: url('../images/logo.gif');
      background-size: cover;
      width: 100%;
      border: none;

      h1 {
        @extend %visuallyhidden;
      }
    }
    h1 {
      text-transform: uppercase;
      margin: 0;
      font-size: 1.3333rem;
    }

} //a
h6 {
  margin: 10px auto 0;
}
} //nav

@include susy-breakpoint (600px, $laptop) {

 nav {
  position: absolute;
  height:114px;
 }

 }
