/* Overlay colors */
.color1 {
	background: rgba(0,0,0,0.9);
}

.color2 {
	background: rgba(26,188,156,0.9);
}

.color3 {
	background: rgba(44,62,80,0.9);
}

.color4 {
	background: rgba(211,84,0,0.9);
}

/* Overlay style */
.overlay {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(47,50,56,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
width: 80px;
height: 80px;
position: absolute;
margin:0;
padding:0;
right: 20px;
top: 20px;
overflow: hidden;
border: none;
background: url(../img/cross.png) no-repeat center center;
text-indent: 200%;
color: transparent;
outline: none;
z-index: 100;
-webkit-transition: all 0.2s;
transition: all 0.2s;

}

.overlay .overlay-close:hover {
-webkit-transform: scale(0.6);
-moz-transition: scale(0.6);
-o-transition: scale(0.6);
transition: scale(0.6);
}

/* Menu style */
.overlay nav {
text-align: center;
position: relative;
top: 50%;
line-height: 5em;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

.overlay ul {
list-style: none;
padding: 0;
margin: 0 auto;
display: inline-block;
height: 100%;
position: relative;
}

.overlay ul li {
display: block;
height: 20%;
height: calc(100% / 5);
min-height: 54px;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: -webkit-transform 0.3s, opacity 0.1s, visibility 0s 0.2s;
transition: transform 0.3s, opacity 0.1s, visibility 0s 0.2s;
-webkit-transform: translate3d(0, -300% ,0);
transform: translate3d(0, -300% ,0);
}

.overlay ul li a {
font-size: 32px;
font-weight: 300;
display: block;
color: #fff;
-webkit-transition: opacity 0.2s;
transition: opacity 0.2s;
}

.overlay ul li a:hover, .overlay ul li a:focus {
opacity: 0.5;
}

/* Effects */
body {
background: #ddd;
}

.container {
background: #fff;
-webkit-transition: -webkit-transform 0.5s;
transition: transform 0.5s;
}

.container.overlay-open {
-webkit-transform: scale(0.6);
transform: scale(0.6);
}

.overlay-contentscale.open  ul li:first-child {
-webkit-transition-delay: 0.25s;
transition-delay: 0.25s;
}

.overlay-contentscale.open  ul li:nth-child(2) {
-webkit-transition-delay: 0.2s;
transition-delay: 0.2s;

}

.overlay-contentscale.open  ul li:nth-child(3) {
-webkit-transition-delay: 0.15s;
transition-delay: 0.15s;
}

.overlay-contentscale.open  ul li:nth-child(4) {
-webkit-transition-delay: 0.1s;
transition-delay: 0.1s;
}

.overlay-contentscale.open  ul li:last-child {
-webkit-transition-delay: 0.05s;
transition-delay: 0.05s;
}

.overlay-contentscale.open ul li {
visibility: visible;
opacity: 1;
-webkit-transition: -webkit-transform 0.7s, opacity 0.1s 0.7s;
transition: transform 0.7s, opacity 1s;
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}


.overlay-contentscale {
visibility: hidden;
-webkit-transform: translateY(-100%);
transform: translateY(-100%);
-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
