// VARIABLES
//metaps projects
$ro:        #5a617e;
$an:        #F2594B;
$ob:        #F06022;
$da:        #072C3B;
$sb:        #55A2E5;
$ca:        #63A69F;

$orange:    #FFAC07;
$green:     #00DE8A;
$blue:      #00CFFF;
$pink:      #FF838A;
$purple:    #9777D1;
$gray:      #696969;

$wt:        #FFF;
$headings:  #222;
$body:      #444;
$bg-col: $wt;
$opacity: 0.7;
